*{
    margin: 0;
}
header{
    margin: 0;
    background-color: black;
}
li, a, button{
    font-size: 16px;
    text-decoration: none;
}
h1{
    color: white;
    font-size: 2.5em;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.moreInfoButton{
    padding: 0px;
    background-color: black;
    border: none;
    cursor: pointer;
}
.infoButtonImage{
    height: 40px;
    width: 40px;
}
.container{
    /*background-color: crimson;*/
    height: auto;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%,0);
    width: 1000px;
    padding-top: 25px;
}
.containerButton{
    width: 500px;
    height: 150px;
    /*background-color: deepskyblue;*/
}
.containerButtonRight{
    position: relative;
    width: 500px;
    height: 150px;
    /*background-color: greenyellow;*/
    margin-top: -150px;
    margin-left: 500px;
}
.button{
    background-color: white;
    padding: 23px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
    border-radius: 10px;
    border: none;
    /*border: 1.5px solid black;*/
    box-shadow: 0px 0px 10px 3.5px #999999;
    width: 300px;
}
.dropdownC {
    position: relative;
    display: inline-block;
}
.dropbtnC {
    display: inline-block;
    height: 40px;
    vertical-align: top;
    width: 40px;
    border: 0;
}
.dropbtnC:hover, .dropbtnC:focus {
    background-color: #2980B9;
}
.dropdown-contentC {
    display: none;
    /* min-width: 300px; */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 55px;
    right: 0px;
    /*  */
    transition: all .4s ease;
    display: none;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    /* max-width: 400px; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 14;
    outline: 0;
}
.dropdown-contentC a {
    color: black;
    padding: 0px;
    text-decoration: none;
    display: block;
}
.pantalla{
    min-width: 300px;
    /* max-width: 400px; */
    width: 400px;
    height: 100%;
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    background: black;
    bottom: 0;
    max-width: 500px;
    position: fixed;
    top: 0;
    z-index: 15;
    right: 0px;
    box-sizing: border-box;
    outline: 0px;
}
.showC {
    display: block;
}
.pedidoTitulo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
    border-bottom: 2px solid #ffffff;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    height: 107px;
    text-align: start;
}
.closeMoreInfoContainer{
    /*background-color: greenyellow;*/
    height: 107px;
    width: 100px;
    position: fixed;
    right: 300px;
}
.prueba{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    position: relative;
    cursor: pointer;
}
.moreInfoContainerData{
    height: 107px;
    width: calc(100%);
    /*background-color: deepskyblue;*/
    cursor: pointer;
}
.iconMoreInfoContainer{
    height: calc(100%);
    width: 107px;
    /*background-color: crimson;*/
}
.textMoreInfoContainer{
    height: calc(100% - 70px);
    width: calc(100% - 107px);
    /*background-color: greenyellow;*/
    margin-top: -107px;
    margin-left: 107px;
    padding: 35px;
}
.prueba2{
    margin-top: 23.5px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    width: 60px;
    position: relative;
}
.moreInfoText{
    font-size: 30px;
    color: white;
}