.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 600px;
    text-align: center;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
    text-align: start;
}
p{
    width: 100%;
    margin-bottom: 0px;
    resize: vertical;
    text-align: start;
    font-size: 12px;
}
h1{
    text-align: start;
    font-size: 24px;
    margin-bottom: 0px;
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 5px;
    resize: vertical;
    border-top: none;
    border-left: none;
    border-right: none;
}
.inputFile{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 5px;
    resize: vertical;
}
.LogIn{
    margin-top: 16px;
    background-color:black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    text-align: left;
    width: 100%;
    padding: 12px;
    text-align: center;
}
.LogIn:hover{
    background-color: rgba(0,0,0,.8);
}
.SocialLI{
    font-size: 12px;
}