.container{
    border-radius: 5px;
    /*background-color: aqua;*/
    padding: 20px;
    width: 300px;
    text-align: center;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pictureContainer{
    height: 300px;
    width: 300px;
    /*background: blueviolet;*/
}
.textContainer{
    height: 100px;
    width: 300px;
    /*background-color: chartreuse;*/
    padding: 0px;
}
.buttonLogo{
    height: 300px;
    width: 300px;
    padding: 0;
    margin: 0;
}
.logo{
    height: 300px;
    width: 300px;
    margin: 0;
    background-color: black;
}
.name{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
*{
    background-color: white;
}